<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title>Just Podcasts</title>
    <link rel="icon" href="favicon.png" />
    <meta name="theme-color" content="#333300" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- since ios doesn't pay enough attention to manifest.json -->
    <meta name="apple-mobile-web-app-title" content="My Podcasts" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png" />
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's manifest -->
    <link rel="manifest" href="/manifest.json" />

    <!-- import the webpage's client-side javascript files -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        🎧 Just My Podcasts ┉┉┉༝✧
      </h1>
    </header>

    <main>
      <audio id="audio_file" preload="auto" type="audio/mpeg" controls="">
        <source id="audioSource" type="audio/mp3" src="" />
      </audio>

      <section class="podcasts">
        <ul id="podcasts"></ul>
      </section>
      <button id="update" onclick="updatePodcasts();" class="mybutton">👀 Check for new Podcasts 👀</button>

      <a href="/feed.json">Older podcasts</a>
    </main>

    <footer>
      <hr />
      Made with <a href="https://glitch.com">Glitch</a>, you can get your own simple podcast app here ➡️
      <a href="https://just-podcasts.glitch.me/">Just Podcasts</a>!
    </footer>
  </body>
</html>
